body{
    background-image: url("img3.jpg");
     background-repeat:  no-repeat center;
    background-size:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.container
{
    width:75%;  
}
.container :hover
{
    opacity:1;
}
header{
    height:100px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:chartreuse;
    color:black;
    opacity: 0.7;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
  
    
}
header h1{
text-align: center;
font-family: 'Courier New', Courier, monospace;
font-size: 40px;
}
.section1
{
    width:100%;
    /* height:640px; */
    background-color: black;
    opacity: 0.7;
    margin-top:10px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}
.section1 h3, .section2 h3{
    text-align: center;
    color: white;
    
}
.section1 img,.section2 img{
    padding-top: 30px;
    padding-left: 30px;
}
.section1 p,.section2 p{
    float: right;
    color: white;
    width: 545px;
    padding-top: 13px;
    margin-right: 20px;
}
.section1 .video1{
    width:100%;
    text-align: center;
    padding-top: 5px;
}

.section2
{
    width:100%;
    /* height:670px; */
    background-color: black;
    opacity: 0.7;
    margin-top:20px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
  
}
.section2 .video2
{
    width: 100%;
    display: flex;
    justify-content: center;
}
.video1 video, .video2 video{
    border-style: dashed;
    border-color: chartreuse;
}
footer
{
    width: 100%;
    height: 70px;
    background-color: chartreuse;
    margin-top: 20px;
    opacity: 0.7;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
  
 
}
footer ul{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
}
li{
    float:right;
}
li a {
    display: block;
    color: black;
  
    padding: 14px 16px;
    text-decoration: none;
  }

@media screen and (max-width:1400px) and (min-width:840px)
{
    .container :hover
    {
        opacity: 1;
    }
    header,footer
    {
        opacity: 0.7;
    }
    .section1 img
    {
        width: 65%;
        height: 30%;
        display: flex;
        margin: auto;
     
    }
    .section1
    {
        height: 825px;
        opacity: 0.7%;
    }
    .section2
    {
        height:930px;
        opacity: 0.7;
    }
    .section2 img
    {
        width: 65%;
        height: 30%;
        display: flex;
        margin: auto;

    }
    .section1 p,.section2 p
    {
      width: 90%;
      padding-left: 5px;  
    }
    .section1 .video1,.section2 .video2{
        height: 30%;
    
        display: flex;
        margin: auto;
        justify-content: center;
    }
    .video1 video, .video2 video{
        height: 80%;
        width: 55%;
        border-style: dashed;
        border-color: chartreuse;
    }
    
}

@media screen and (max-width:841px) and (min-width:400px)
{
    .container:hover
    {
        opacity: 1;
    }
    header,footer
    {
        opacity: 0.7;
    }
    .section1
    {
        height: 0%;
        opacity: 0.7%;
    }
    .section2
    {
        height: 0%;
        opacity: 0.7%;
    }
    .section1 img,.section2 img
    {
        width: 55%;
        height: 30%;
        display: flex;
        margin: auto;
     
    }
    .section1 p,.section2 p
    {
       width: 90%;
       font-size: 13px;
        margin: auto;
    }
    .section1 .video1,.section2 .video2{
        height: 20%;
    
        display: flex;
        margin: auto;
        justify-content: center;
    }
    .video1 video, .video2 video{
        height: 50%;
        width:40%;
        border-style: dashed;
        border-color: chartreuse;
    }
    
}

